.material-icons {
  color: #FFFFFF;
  }

.corpo{
	font-family: 'Lato', sans-serif;
  	font-size: 18px;
	font-weight: 300;
	background-color: #4682B4;
	text-align: center;

}

.cabecalho{
	font-size: 100px;
	color: white;
}

.colunaEsquerda{
	margin-top: 50px;
	text-align: left;
}
.colunaDireita{
	margin-top: 50px;
	text-align: right;
}
.icones{
	width: 200px;
	height: 200px;
}
.logo{
	align-items: flex-start;
	width: 250px;
	height: 150px;
}

.legenda{ 
	color: #f8f8f8;  
	font-size: 18px; 
	font-weight: 500; 
	line-height: 32px; 
	margin: 0 0 24px; 
}
